* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background: black;
  box-shadow: 0 0.5rem 1rem rgba(120, 120, 120, 0.4);
  position: sticky;
  z-index: 1;
}
header .container__header {
  max-width: 1300px;
  margin: auto;
}
header .container__header .navbar {
  padding: 0;
}

nav .nav-link {
  color: white;
  transition: 0.5s;
}
nav .nav-link:hover {
  color: #41258e;
}

/* -------Seccion 1------- */
#banner {
  position: relative;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../imagenes/bannercsgo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.container__text {
  max-width: 1300px;
  margin: auto;
  padding: 0 10px;
}
.container__text .intro__text {
  margin: auto;
  padding-top: 4rem;
}
.container__text .intro__text h1 {
  color: #41258e;
  font-weight: 900;
  font-size: 3.3rem;
  padding-bottom: 1rem;
}
.container__text .intro__text p {
  color: white;
  max-width: 360px;
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 28px;
}
.container__text .intro__text .intro__button {
  font-size: 1rem;
  border: none;
  color: white;
  background-color: #41258e;
  border-radius: 20px;
  border: 2px solid #41258e;
  box-shadow: 1px 1px 20px -5px grey;
  cursor: pointer;
  padding: 14px 10px 14px;
  font-weight: 600;
  margin-bottom: 52px;
  transition: all 0.6s ease;
}
.container__text .intro__text .intro__button:hover {
  background: black;
}

/* -------Seccion 2------- */
h2 {
  font-size: 2.6rem;
  margin: 15px 0;
  text-align: center;
  color: #41258e;
  font-weight: 900;
}

.module {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.caja {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  align-items: center;
}
.caja .img__icon {
  padding-right: 1rem;
}
.caja .img__icon img {
  width: 65px;
  height: 65px;
}
.caja .text__description P {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  margin-left: 0.8rem;
  max-width: 600px;
}
.caja .text__description h3 {
  font-size: 1.4rem;
  font-weight: 800;
  color: #41258e;
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
}

.img__seccion1 {
  display: flex;
  flex-direction: column;
}
.img__seccion1 .img-fluid {
  width: 500px;
  height: 310px;
  margin-bottom: 0.7rem;
}

/* -------Seccion 3------- */
.text__info {
  position: relative;
  text-align: left;
  margin-bottom: 8rem;
}

/* -------Como-Funciona------- */
.container__tittle {
  max-width: 1300px;
  margin: 30px auto;
  padding: 0 10px;
}

#tittle {
  text-align: center;
  color: #41258e;
  font-weight: 900;
  font-size: rem;
}

#tittle__description {
  text-align: center;
  color: white;
  line-height: 25px;
}

.container__seccion1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.container__seccion1 .img__text img {
  width: 500px;
  height: 300px;
}
.container__seccion1 .text__description {
  max-width: 550px;
  text-align: center;
}
.container__seccion1 .text__description h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #41258e;
  margin: 0.8rem;
}
.container__seccion1 .caja1 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.container__seccion1 .caja1 .text__description {
  margin-left: 20px;
}
.container__seccion1 .caja2 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.container__seccion1 .caja2 .text__description {
  margin-right: 20px;
}

.module {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.module .icon img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}
.module .text__description {
  text-align: center;
}
.module .text__description h3 {
  font-size: 1.4rem;
  font-weight: 800;
  color: #41258e;
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
}
.module .text__description P {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  margin-left: 0.8rem;
  max-width: 600px;
}

.card-header h2 {
  margin: 0;
  color: black;
}
.card-header .violet {
  color: #41258e;
}

.card-body {
  padding-bottom: 0;
}
.card-body .total-price {
  font-weight: 800;
  font-size: 1.2rem;
}
.card-body h3 {
  margin-bottom: 0;
}
.card-body h3 .currency {
  font-size: 1.9rem;
}
.card-body h3 .amount {
  font-size: 2.5rem;
}
.card-body h3 .month {
  font-weight: 500;
  font-size: 1.3rem;
}
.card-body p {
  margin-bottom: 0;
}

.save .rectangle, .save .rectangle--dark {
  display: inline-block;
  padding: 6px 8px;
  background: #41258e;
  color: #fff;
  border: 2px solid black;
  font-size: 16px;
  border-radius: 0;
  margin: 8px;
  font-weight: 400;
}
.save .rectangle--dark {
  background: rgb(75, 75, 75);
}

.card-footer .btn {
  font-size: 1rem;
  border: none;
  color: white;
  background-color: #41258e;
  border-radius: 3px;
  box-shadow: 1px 1px 20px -5px grey;
  cursor: pointer;
  padding: 7px 7px;
  font-weight: 600;
  border: 2px solid #41258e;
  transition: all 0.6s ease;
}
.card-footer .btn:hover {
  background: black;
}

.banner__promo {
  background: #41258e;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__promo h3 {
  font-size: 1.9rem;
  font-weight: 800;
  color: white;
  line-height: 45px;
  text-align: center;
}

.text__description h3 {
  font-size: 1.4rem;
  font-weight: 800;
  color: #41258e;
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
}
.text__description .intro__button {
  font-size: 1rem;
  border: none;
  color: white;
  background-color: #41258e;
  border-radius: 20px;
  border: 2px solid #41258e;
  box-shadow: 1px 1px 10px -5px grey;
  cursor: pointer;
  padding: 6px 6px;
  font-weight: 600;
  margin-bottom: 52px;
  transition: all 0.6s ease;
}
.text__description .intro__button:hover {
  background: black;
}

.box-shadow {
  box-shadow: 0rem 0rem 2.5rem 3px rgba(65, 37, 142, 0.2705882353);
}

.btn {
  background-color: #41258e;
  color: white;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.box__1 .logo__footer img {
  width: 200px;
  margin-bottom: 0.8rem;
}
.box__1 .footer__list .footer__list__item {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  font-size: 1rem;
  font-weight: 800;
}
.box__1 .footer__list .footer__list__link {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}
.box__1 .footer__list .footer__list__link:hover {
  color: #41258e;
}

.box__2 {
  display: flex;
  justify-content: center;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.box__2 h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0.4rem;
}
.box__2 p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 20px;
  margin-bottom: 0.4rem;
}
.box__2 .correo__box {
  height: 30px;
  padding: 7px;
}
.box__2 .correo__box .correo {
  font-weight: 600;
  font-size: 1.2rem;
}

/* -------Mobile First------- */
@media screen and (max-width: 1079px) {
  /* ----Seccion 1---- */
  #banner {
    position: relative;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../imagenes/bannercsgo.png");
    background-repeat: no-repeat;
    background-position: 70%;
  }
  .container__text {
    display: flex;
    justify-content: center;
  }
  .container__text .intro__text {
    max-width: 400px;
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  /* ----Index---- */
  /* ----Seccion 1---- */
  .img__seccion1 {
    display: none;
  }
}
@media (max-width: 768px) {
  /* ----Index---- */
  /* ----Header---- */
  .container__header {
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  /* ----Seccion 1---- */
  .intro__text h1 {
    font-size: 3rem;
  }
  /* ----Seccion 2---- */
  .row {
    padding: 0px 10px;
  }
  .row .caja {
    margin: 0 0 2rem 0;
  }
  .row .img__seccion1 {
    display: none;
  }
  .container__footer {
    justify-content: center;
  }
  .container__footer .footer__list__item {
    align-items: center;
  }
  /* ----Como-Funciona---- */
  /* ----Seccion 1---- */
  .caja1 .img__text {
    display: none;
  }
  .caja1 .text__description {
    margin-left: 0;
  }
  .caja2 .text__description {
    margin-right: 0;
  }
  .caja2 .text__description h2 {
    font-size: 1.6rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  background: black;
}

/*# sourceMappingURL=style.css.map */
