@import "reset";
@import "./componentes/variables";
@import "./componentes/mixins";
@import "./componentes/header";
@import "./estilos-paginas/index";
@import "./estilos-paginas/como-funciona";
@import "./componentes/footer";
@import "./componentes/media-queries";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, rgb(38, 38, 38), rgb(65, 65, 65));
    color: $text-color;
    background: $bg-color;
}

.container {
    max-width: 1300px;
}