@import "reset";
@import "./componentes/variables";
@import "./componentes/mixins";
@import "./componentes/header";
@import "./estilos-paginas/index";
@import "./estilos-paginas/como-funciona";
@import "./estilos-paginas/precios";
@import "./estilos-paginas/nosotros";
@import "./estilos-paginas/soporte";
@import "./componentes/footer";
@import "./componentes/media-queries";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: $text-color;
    background: $bg-color;
}
