.text__description {
    h3 {
        @include h3
    }

    .intro__button {
        font-size: 1rem;
        border: none;
        color: $text-color;
        background-color: $color-principal;
        border-radius: 20px;
        border: 2px solid $color-principal;
        box-shadow: 1px 1px 10px -5px grey;
        cursor: pointer;
        padding: 6px 6px ;
        font-weight: map-get($font-weights, regular);
        margin-bottom: 52px;
        transition: all 0.6s ease;

        &:hover {
            background: $bg-color;
        }
    }
}