* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, rgb(38, 38, 38), rgb(65, 65, 65));
    color: white;
    background: black;
}

.container {
    max-width: 1300px;
}

/*-------Index-------*/


/* -------Seccion 1------- */


/* -------Seccion 2------- */


/* -------Footer------- */


#correo {
    height: 25px;
}

#boton {
    height: 25px;
    width: 100px;
    background-color: white;
    color: #41258e;
    font-size: 1rem;
    font-weight: 600;
}


/* -------Como-Funciona------- */

.container__tittle {
    max-width: 1300px;
    margin: 30px auto;
    padding: 0 10px;
}

#tittle {
    text-align: center;
    color: #41258e;
    font-weight: 900;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

#tittle__description {
    text-align: center;
    color: white;
    padding-bottom: 1rem;
    line-height: 25px;
}


.container__seccion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.caja1 {
    display: flex;
    align-items: center;
    margin-bottom: 30px
}

.caja1 .text__description {
    margin-left: 20px;
}

.caja2 {
    display: flex;
    align-items: center;
    margin-bottom: 30px
}

.caja2 .text__description {
    margin-right: 20px;
}

.img__text img {
    width: 500px;
    height: 300px;
}

.text__description {
    max-width: 550px;
    text-align: center;
}

.container__seccion1 .text__description p {
    margin: 0;
}

.text__description h2 {
    font-size: 2rem;
    font-weight: 800;
    color: #41258e;
    margin: 0.8rem;
}

/* -------Precios------- */

.card-body {
    flex: none;
    padding-bottom: 0;
}

.card-body p {
    margin-bottom: 0;
}

.total-price {
    font-weight: 800;
    font-size: 1.2rem;
}

h3 .currency {
    font-size: 1.9rem;
}

h3 .amount {
    font-size: 2.5rem;
}

h3 .month {
    font-weight: 500;
    font-size: 1.3rem;
}

h3 {
    margin-bottom: 0;
}

.rectangle {
    display: inline-block;
    padding: 6px 8px;
    background: #41258e;
    color: #fff;
    border: 2px solid black ;
    font-size: 16px;
    border-radius: 0;
    margin: 8px;
    font-weight: 400;
}

.rectangle--dark {
    background: rgb(75, 75, 75);
}

.btn {
    background: #41258e ;
    color: white;
    border-radius: 3px;
    padding: 7px 7px;
    font-weight: 700;
    font-size: 1.2rem;
}

h4 {
    margin: 0;
    font-weight: 800;
    font-size: 2.8rem;
}


/* -------Nosotros------- */

.text__info h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #41258e;
    margin: 0.8rem;
}

.text__info p {
    color: white;
    padding-bottom: 1rem;
    line-height: 25px;
}

/* -------Mobile First------- */

@media screen and (max-width: 1079px) {
    
    /* ----Seccion 1---- */
    
    .container__text {
        display: flex;
        justify-content: center;
    }

    .intro__text {
        max-width: 400px;
        text-align: center;
    }

    #banner {
        position: relative;
        background-image: 
        linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        )
        ,url("../imagenes/bannercsgo.png");
        background-repeat: no-repeat;
        background-position: 70%;
    }

}

@media screen and (max-width: 960px) {

/* ----Index---- */

    /* ----Seccion 1---- */
    
        /* .container__text {
            display: flex;
            justify-content: center;
        }
    
        .intro__text {
            max-width: 400px;
            text-align: center;
    } */
    
    .img__seccion1 {
        display: none;
        
    }
    
    .layout__seccion1 {
        grid-template-columns: 1fr;
        min-height: 70vh;
    }
    

}
/* ----Como-Funciona---- */

    /* ----Seccion 1---- */


@media (max-width: 768px) {
    
/* ----Index---- */ 

    /* ----Header---- */
    .container__header {
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    
    .nav__list {
        margin: 10px 0;
    }
    
    .logo {
        position: top;
    }
    
    /* ----Seccion 1---- */

    .intro__text h1 {
        font-size: 3rem ;
    }
    /* ----Seccion 2---- */
    
    .row {
        padding: 0px 10px;
    }

    .layout__seccion1 {
        grid-template-columns: 1fr;
    }

    .caja {
        margin: 0 0 2rem 0;
    }

    .img__seccion1 {
        display: none;
    }

    .container__footer {
justify-content: center;
}

    .footer__list__item {
    align-items: center;
}

/* ----Como-Funciona---- */

    /* ----Seccion 1---- */

    .img__text {
        display: none;
    }

    .caja1 .text__description {
        margin-left: 0;
    }

    .caja2 .text__description {
        margin-right: 0;
    }

    .text__description h2 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 500px) {
    .nav__list {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .nav__list .nav__item {
        margin-bottom: 7px;
    }
}