/* -------Mobile First------- */

@media screen and (max-width: 1079px) {
    
    /* ----Seccion 1---- */
    
    
    
    #banner {
        position: relative;
        background-image: 
        linear-gradient(
            0deg,
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)
            )
            ,url("../imagenes/bannercsgo.png");
            background-repeat: no-repeat;
            background-position: 70%;
        }
        
        .container__text {
            @include flexCenter;
    
            .intro__text {
                max-width: 400px;
                text-align: center;
            }
        }
}

@media screen and (max-width: 960px) {

/* ----Index---- */

    /* ----Seccion 1---- */
    
    
    .img__seccion1 {
        display: none;
        
    }
}


@media (max-width: 768px) {
    
/* ----Index---- */ 

    /* ----Header---- */
    .container__header {
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
        
    /* ----Seccion 1---- */

    .intro__text h1 {
        font-size: 3rem ;
    }
    /* ----Seccion 2---- */
    
    .row {
        padding: 0px 10px;

        .caja {
            margin: 0 0 2rem 0;
        }

        .img__seccion1 {
            display: none;
        }
    }


    .container__footer {
        justify-content: center;

        .footer__list__item {
            align-items: center;
        }
    }


/* ----Como-Funciona---- */

    /* ----Seccion 1---- */


    .caja1 {
        .img__text {
            display: none;
        }
    
        .text__description {
            margin-left: 0;
        }
    }

    .caja2 {
        .text__description {
            margin-right: 0;

            h2 {
                font-size: 1.6rem;
            }
        }
    }

}
